@import "../../global.scss";

.top-bar {
  background-color: white;
  color: $mainColor;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  transition: all 300ms ease;

  .wrapper {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
    .left {
      display: flex;
      gap: 10px;
      align-items: center;
      .logo {
        font-size: 25px;
        font-weight: 700;
        color: inherit;
        margin-right: 10px;
        text-transform: capitalize;
        @include mobile {
          font-size: 20px;
        }
      }
      .item-container {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 13px;
        @include mobile {
          font-size: 10pxpx;
        }
        .icon {
          font-size: 18px;
        }
        .span {
          font-weight: 500;
        }
      }
    }

    .right {
      margin: 0 10px;
      overflow-y: hidden;
      .hamburger {
        width: 32px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        overflow: hidden;
        span {
          width: 100%;
          height: 2px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 300ms ease;
        }
        .line1 {
        }
        .line2 {
        }
        .line3 {
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
