@import "../../global.scss";

.main-container {
  background: linear-gradient(
    90deg,
    rgba(62, 58, 180, 1) 9%,
    rgba(10, 28, 36, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  .works {
    position: relative;
    height: calc(100vh - 150px);

    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      height: calc(100vh - 100px);
    }
    .slider {
      height: 400px;
      display: flex;
      position: absolute;
      left: 0;
      transition: 500ms ease-out;
      margin: 15px 0;
      @include mobile {
        height: 60vh;
        // margin-top: 100px;
      }
      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .item {
          width: 80%;
          height: 100%;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          @include mobile {
            flex-direction: column;
            width: 98%;
          }

          .left {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile {
              width: 100%;
              text-align: center;
            }
            .left-container {
              width: 90%;
              height: 70%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 20px;
              .image-container {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 30px;
                }
              }
              h2 {
                font-size: 25px;
                padding: 0;
                margin: 0;
              }
              p {
                font-size: 20px;
              }
              span {
                font-size: 15px;
                font-weight: 600;
                text-decoration: underline;
              }
            }
          }
          .right {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: $mainColor;
            @include mobile {
              width: 100%;
              text-align: center;
            }
            img {
              width: 60%;
              transform: rotate(-10deg);
              @include mobile {
                width: 80%;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .controlls {
      // background-color: #fff;
      position: absolute;
      bottom: 0;
      margin: 20px 0;
      display: flex;
      gap: 10px;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      .icon {
        background-color: #fff;
        color: $mainColor;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
